.cell {
  color: blue;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  outline: 3px solid black;
}

.column {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px;
}

.Title {
  font-family: Chalkduster;
}
